<a href="https://colab.research.google.com/github/L1KASA/big-data/blob/main/lab1/MapReduceExamples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Введение в MapReduce модель на Python

In [256]:
from typing import NamedTuple # requires python 3.6+
from typing import Iterator

In [257]:
def MAP(_, row:NamedTuple):
  if (row.gender == 'female'):
    yield (row.age, row)

def REDUCE(age:str, rows:Iterator[NamedTuple]):
  sum = 0
  count = 0
  for row in rows:
    sum += row.social_contacts
    count += 1
  if (count > 0):
    yield (age, sum/count)
  else:
    yield (age, 0)

Модель элемента данных

In [258]:
class User(NamedTuple):
  id: int
  age: str
  social_contacts: int
  gender: str

In [259]:
input_collection = [
    User(id=0, age=55, gender='male', social_contacts=20),
    User(id=1, age=25, gender='female', social_contacts=240),
    User(id=2, age=25, gender='female', social_contacts=500),
    User(id=3, age=33, gender='female', social_contacts=800)
]

Функция RECORDREADER моделирует чтение элементов с диска или по сети.

In [260]:
def RECORDREADER():
  return [(u.id, u) for u in input_collection]

In [261]:
list(RECORDREADER())

[(0, User(id=0, age=55, social_contacts=20, gender='male')),
 (1, User(id=1, age=25, social_contacts=240, gender='female')),
 (2, User(id=2, age=25, social_contacts=500, gender='female')),
 (3, User(id=3, age=33, social_contacts=800, gender='female'))]

In [262]:
def flatten(nested_iterable):
  for iterable in nested_iterable:
    for element in iterable:
      yield element

In [263]:
map_output = flatten(map(lambda x: MAP(*x), RECORDREADER()))
map_output = list(map_output) # materialize
map_output

[(25, User(id=1, age=25, social_contacts=240, gender='female')),
 (25, User(id=2, age=25, social_contacts=500, gender='female')),
 (33, User(id=3, age=33, social_contacts=800, gender='female'))]

In [264]:
def groupbykey(iterable):
  t = {}
  for (k2, v2) in iterable:
    t[k2] = t.get(k2, []) + [v2]
  return t.items()

In [265]:
shuffle_output = groupbykey(map_output)
shuffle_output = list(shuffle_output)
shuffle_output

[(25,
  [User(id=1, age=25, social_contacts=240, gender='female'),
   User(id=2, age=25, social_contacts=500, gender='female')]),
 (33, [User(id=3, age=33, social_contacts=800, gender='female')])]

In [266]:
reduce_output = flatten(map(lambda x: REDUCE(*x), shuffle_output))
reduce_output = list(reduce_output)
reduce_output

[(25, 370.0), (33, 800.0)]

Все действия одним конвейером!

In [267]:
list(flatten(map(lambda x: REDUCE(*x), groupbykey(flatten(map(lambda x: MAP(*x), RECORDREADER()))))))

[(25, 370.0), (33, 800.0)]

# **MapReduce**
Выделим общую для всех пользователей часть системы в отдельную функцию высшего порядка. Это наиболее простая модель MapReduce, без учёта распределённого хранения данных.

Пользователь для решения своей задачи реализует RECORDREADER, MAP, REDUCE.

In [268]:
def flatten(nested_iterable):
  for iterable in nested_iterable:
    for element in iterable:
      yield element

def groupbykey(iterable):
  t = {}
  for (k2, v2) in iterable:
    t[k2] = t.get(k2, []) + [v2]
  return t.items()

def MapReduce(RECORDREADER, MAP, REDUCE):
  return flatten(map(lambda x: REDUCE(*x), groupbykey(flatten(map(lambda x: MAP(*x), RECORDREADER())))))

## Спецификация MapReduce



```
f (k1, v1) -> (k2,v2)*
g (k2, v2*) -> (k3,v3)*

mapreduce ((k1,v1)*) -> (k3,v3)*
groupby ((k2,v2)*) -> (k2,v2*)*
flatten (e2**) -> e2*

mapreduce .map(f).flatten.groupby(k2).map(g).flatten
```

# Примеры

## SQL

In [269]:
from typing import NamedTuple # requires python 3.6+
from typing import Iterator

class User(NamedTuple):
  id: int
  age: str
  social_contacts: int
  gender: str

input_collection = [
    User(id=0, age=55, gender='male', social_contacts=20),
    User(id=1, age=25, gender='female', social_contacts=240),
    User(id=2, age=25, gender='female', social_contacts=500),
    User(id=3, age=33, gender='female', social_contacts=800)
]

def MAP(_, row:NamedTuple):
  if (row.gender == 'female'):
    yield (row.age, row)

def REDUCE(age:str, rows:Iterator[NamedTuple]):
  sum = 0
  count = 0
  for row in rows:
    sum += row.social_contacts
    count += 1
  if (count > 0):
    yield (age, sum/count)
  else:
    yield (age, 0)

def RECORDREADER():
  return [(u.id, u) for u in input_collection]

output = MapReduce(RECORDREADER, MAP, REDUCE)
output = list(output)
output

[(25, 370.0), (33, 800.0)]

## Matrix-Vector multiplication

In [270]:
from typing import Iterator
import numpy as np

mat = np.ones((5,4))
vec = np.random.rand(4) # in-memory vector in all map tasks

def MAP(coordinates:(int, int), value:int):
  i, j = coordinates
  yield (i, value*vec[j])

def REDUCE(i:int, products:Iterator[NamedTuple]):
  sum = 0
  for p in products:
    sum += p
  yield (i, sum)

def RECORDREADER():
  for i in range(mat.shape[0]):
    for j in range(mat.shape[1]):
      yield ((i, j), mat[i,j])

output = MapReduce(RECORDREADER, MAP, REDUCE)
output = list(output)
output

[(0, 2.8139407778783943),
 (1, 2.8139407778783943),
 (2, 2.8139407778783943),
 (3, 2.8139407778783943),
 (4, 2.8139407778783943)]

## Inverted index

In [271]:
from typing import Iterator

d1 = "it is what it is"
d2 = "what is it"
d3 = "it is a banana"
documents = [d1, d2, d3]

def RECORDREADER():
  for (docid, document) in enumerate(documents):
    yield ("{}".format(docid), document)

def MAP(docId:str, body:str):
  for word in set(body.split(' ')):
    yield (word, docId)

def REDUCE(word:str, docIds:Iterator[str]):
  yield (word, sorted(docIds))

output = MapReduce(RECORDREADER, MAP, REDUCE)
output = list(output)
output

[('what', ['0', '1']),
 ('is', ['0', '1', '2']),
 ('it', ['0', '1', '2']),
 ('a', ['2']),
 ('banana', ['2'])]

## WordCount

In [272]:
from typing import Iterator

d1 = """
it is what it is
it is what it is
it is what it is"""
d2 = """
what is it
what is it"""
d3 = """
it is a banana"""
documents = [d1, d2, d3]

def RECORDREADER():
  for (docid, document) in enumerate(documents):
    for (lineid, line) in enumerate(document.split('\n')):
      yield ("{}:{}".format(docid,lineid), line)

def MAP(docId:str, line:str):
  for word in line.split(" "):
    yield (word, 1)

def REDUCE(word:str, counts:Iterator[int]):
  sum = 0
  for c in counts:
    sum += c
  yield (word, sum)

output = MapReduce(RECORDREADER, MAP, REDUCE)
output = list(output)
output

[('', 3), ('it', 9), ('is', 9), ('what', 5), ('a', 1), ('banana', 1)]

# MapReduce Distributed

Добавляется в модель фабрика RECORDREARER-ов --- INPUTFORMAT, функция распределения промежуточных результатов по партициям PARTITIONER, и функция COMBINER для частичной аггрегации промежуточных результатов до распределения по новым партициям.

In [273]:
def flatten(nested_iterable):
  for iterable in nested_iterable:
    for element in iterable:
      yield element

def groupbykey(iterable):
  t = {}
  for (k2, v2) in iterable:
    t[k2] = t.get(k2, []) + [v2]
  return t.items()

def groupbykey_distributed(map_partitions, PARTITIONER):
  global reducers
  partitions = [dict() for _ in range(reducers)]
  for map_partition in map_partitions:
    for (k2, v2) in map_partition:
      p = partitions[PARTITIONER(k2)]
      p[k2] = p.get(k2, []) + [v2]
  return [(partition_id, sorted(partition.items(), key=lambda x: x[0])) for (partition_id, partition) in enumerate(partitions)]

def PARTITIONER(obj):
  global reducers
  return hash(obj) % reducers

def MapReduceDistributed(INPUTFORMAT, MAP, REDUCE, PARTITIONER=PARTITIONER, COMBINER=None):
  map_partitions = map(lambda record_reader: flatten(map(lambda k1v1: MAP(*k1v1), record_reader)), INPUTFORMAT())
  if COMBINER != None:
    map_partitions = map(lambda map_partition: flatten(map(lambda k2v2: COMBINER(*k2v2), groupbykey(map_partition))), map_partitions)
  reduce_partitions = groupbykey_distributed(map_partitions, PARTITIONER) # shuffle
  reduce_outputs = map(lambda reduce_partition: (reduce_partition[0], flatten(map(lambda reduce_input_group: REDUCE(*reduce_input_group), reduce_partition[1]))), reduce_partitions)

  print("{} key-value pairs were sent over a network.".format(sum([len(vs) for (k,vs) in flatten([partition for (partition_id, partition) in reduce_partitions])])))
  return reduce_outputs

## Спецификация MapReduce Distributed


```
f (k1, v1) -> (k2,v2)*
g (k2, v2*) -> (k3,v3)*

e1 (k1, v1)
e2 (k2, v2)
partition1 (k2, v2)*
partition2 (k2, v2*)*

flatmap (e1->e2*, e1*) -> partition1*
groupby (partition1*) -> partition2*

mapreduce ((k1,v1)*) -> (k3,v3)*
mapreduce .flatmap(f).groupby(k2).flatmap(g)
```

## WordCount

In [274]:
from typing import Iterator
import numpy as np

d1 = """
it is what it is
it is what it is
it is what it is"""
d2 = """
what is it
what is it"""
d3 = """
it is a banana"""
documents = [d1, d2, d3, d1, d2, d3]

maps = 3
reducers = 2

def INPUTFORMAT():
  global maps

  def RECORDREADER(split):
    for (docid, document) in enumerate(split):
      for (lineid, line) in enumerate(document.split('\n')):
        yield ("{}:{}".format(docid,lineid), line)

  split_size =  int(np.ceil(len(documents)/maps))
  for i in range(0, len(documents), split_size):
    yield RECORDREADER(documents[i:i+split_size])

def MAP(docId:str, line:str):
  for word in line.split(" "):
    yield (word, 1)

def REDUCE(word:str, counts:Iterator[int]):
  sum = 0
  for c in counts:
    sum += c
  yield (word, sum)

# try to set COMBINER=REDUCER and look at the number of values sent over the network
partitioned_output = MapReduceDistributed(INPUTFORMAT, MAP, REDUCE, COMBINER=None)
partitioned_output = [(partition_id, list(partition)) for (partition_id, partition) in partitioned_output]
partitioned_output

56 key-value pairs were sent over a network.

[(0, [('', 6), ('banana', 2), ('is', 18)]),
 (1, [('a', 2), ('it', 18), ('what', 10)])]

## TeraSort

In [275]:
import numpy as np

input_values = np.random.rand(30)
maps = 3
reducers = 2
min_value = 0.0
max_value = 1.0

def INPUTFORMAT():
  global maps

  def RECORDREADER(split):
    for value in split:
        yield (value, None)

  split_size =  int(np.ceil(len(input_values)/maps))
  for i in range(0, len(input_values), split_size):
    yield RECORDREADER(input_values[i:i+split_size])

def MAP(value:int, _):
  yield (value, None)

def PARTITIONER(key):
  global reducers
  global max_value
  global min_value
  bucket_size = (max_value-min_value)/reducers
  bucket_id = 0
  while((key>(bucket_id+1)*bucket_size) and ((bucket_id+1)*bucket_size<max_value)):
    bucket_id += 1
  return bucket_id

def REDUCE(value:int, _):
  yield (None,value)

partitioned_output = MapReduceDistributed(INPUTFORMAT, MAP, REDUCE, COMBINER=None, PARTITIONER=PARTITIONER)
partitioned_output = [(partition_id, list(partition)) for (partition_id, partition) in partitioned_output]
partitioned_output

30 key-value pairs were sent over a network.

[(0,
  [(None, 0.03811908039622347),
   (None, 0.09844276698811327),
   (None, 0.12808151318675554),
   (None, 0.13472699827629842),
   (None, 0.1793609340498422),
   (None, 0.19351475062696388),
   (None, 0.21373810064841747),
   (None, 0.2511235876302418),
   (None, 0.25340396246782404),
   (None, 0.2557372930023939),
   (None, 0.26128664434470583),
   (None, 0.2992171621324127),
   (None, 0.31030604297858433),
   (None, 0.3445486252662734),
   (None, 0.35170435953060575),
   (None, 0.3851197901992395),
   (None, 0.4580485489418825),
   (None, 0.4672499462932693)]),
 (1,
  [(None, 0.534887201355016),
   (None, 0.5389104331894736),
   (None, 0.561903651045434),
   (None, 0.5683899104447481),
   (None, 0.5828852004562367),
   (None, 0.6227616698444466),
   (None, 0.6476466130773871),
   (None, 0.6504297906177653),
   (None, 0.664084749969569),
   (None, 0.7504797975693598),
   (None, 0.9310218295343683),
   (None, 0.9339042328930829)])]

# Упражнения
Упражнения взяты из Rajaraman A., Ullman J. D. Mining of massive datasets. – Cambridge University Press, 2011.


Для выполнения заданий переопределите функции RECORDREADER, MAP, REDUCE. Для модели распределённой системы может потребоваться переопределение функций PARTITION и COMBINER.

### Максимальное значение ряда

Разработайте MapReduce алгоритм, который находит максимальное число входного списка чисел.

In [276]:
from typing import Iterator
import numpy as np

def RECORDREADER(size: int):
    data = [(index, num) for (index, num) in enumerate(np.random.randint(1000, size=size))]
    print(data)
    return data

def MAP(_, number):
    yield (None, number)

def REDUCE(_, numbers: Iterator[int]):
    max_number = max(numbers)
    yield max_number

output = MapReduce(lambda: RECORDREADER(10), MAP, REDUCE)
max_number = list(output)
max_number

[(0, 50), (1, 790), (2, 191), (3, 924), (4, 262), (5, 696), (6, 322), (7, 191), (8, 622), (9, 160)]

[924]

### Арифметическое среднее

Разработайте MapReduce алгоритм, который находит арифметическое среднее.

$$\overline{X} = \frac{1}{n}\sum_{i=0}^{n} x_i$$

In [277]:
from typing import Iterator

def RECORDREADER(size):
    data = [(index, num) for (index, num) in enumerate(np.random.randint(1000, size=size))]
    print(data)
    return data

def MAP(_, number):
    yield (1, number)

def REDUCE(_, numbers: Iterator[int]):
    total_sum = 0
    count = 0
    for num in numbers:
        total_sum += num
        count += 1
    if count > 0:
        average = total_sum / count
        yield average

output = MapReduce(lambda: RECORDREADER(10), MAP, REDUCE)
output = list(output)
output

[(0, 551), (1, 163), (2, 948), (3, 392), (4, 823), (5, 236), (6, 390), (7, 432), (8, 172), (9, 996)]

[510.3]

### GroupByKey на основе сортировки

Реализуйте groupByKey на основе сортировки, проверьте его работу на примерах

In [278]:
def groupbykey_sorted(iterable):
    # Сортируем входной итерируемый объект по первому элементу (ключу) каждого кортежа
    sorted_iterable = sorted(iterable, key=lambda x: x[0])
    result = []  # Создаем пустой список для хранения результирующих групп
    current_key = None  # Инициализируем переменную для отслеживания текущего ключа
    for key, value in sorted_iterable:  # Проходим по отсортированному списку
        if key != current_key:  # Если текущий ключ отличается от предыдущего
            if current_key is not None:  # Если это не первая итерация
                result.append((current_key, sorted(current_group)))  # Добавляем группу значений в результат, предварительно отсортировав ее
            current_key = key  # Обновляем текущий ключ
            current_group = [value]  # Создаем новую группу значений
        else:  # Если ключ совпадает с текущим
            current_group.append(value)  # Добавляем значение в текущую группу
    if current_key is not None:  # Если есть последняя группа значений
        result.append((current_key, sorted(current_group)))  # Добавляем последнюю группу значений в результат, предварительно отсортировав ее
    return result

def MAP(key: int, value: int):
    yield (1, value)

def RECORDREADER():
    numbers = [(index, num) for (index, num) in enumerate(np.random.randint(1000, size=10))]
    print(numbers)
    return numbers

print(groupbykey_sorted(flatten(map(lambda x: MAP(*x), RECORDREADER()))))

[(0, 492), (1, 196), (2, 187), (3, 234), (4, 96), (5, 990), (6, 119), (7, 103), (8, 564), (9, 248)]
[(1, [96, 103, 119, 187, 196, 234, 248, 492, 564, 990])]

# Drop duplicates (set construction, unique elements, distinct)

Реализуйте распределённую операцию исключения дубликатов

In [279]:
def RECORDREADER(size):
    data = [(index, value) for (index, value) in enumerate(np.random.randint(10, size=size))]
    print(data, '\n')
    return data

def MAP(_, value):
    yield (value, value)

def REDUCE(key, _):
    yield (key)

output = MapReduce(lambda: RECORDREADER(10), MAP, REDUCE)
output = list(output)
print(output)

[(0, 1), (1, 0), (2, 0), (3, 6), (4, 5), (5, 4), (6, 0), (7, 4), (8, 0), (9, 8)]

[1, 0, 6, 5, 4, 8]

#Операторы реляционной алгебры
### Selection (Выборка)

**The Map Function**: Для  каждого кортежа $t \in R$ вычисляется истинность предиката $C$. В случае истины создаётся пара ключ-значение $(t, t)$. В паре ключ и значение одинаковы, равны $t$.

**The Reduce Function:** Роль функции Reduce выполняет функция идентичности, которая возвращает то же значение, что получила на вход.

In [280]:
db_data = [
    {'id': 1, 'name': 'John', 'age': 25},
    {'id': 2, 'name': 'Alice', 'age': 25},
    {'id': 3, 'name': 'Bob', 'age': 35}
]

def RECORDREADER():
    for record in db_data:
        yield (record['id'], record)  # Используем 'id' в качестве ключа, предполагая, что это уникальный и хешируемый идентификатор

def MAP(_, record):
    if record['age'] == 25:  # Проверяем значение атрибута 'age'
        yield (record['id'], record)  # Возвращаем кортеж, удовлетворяющий условию

def REDUCE(key, tuples):
    for record in tuples:
        yield record  # Возвращаем только записи, удовлетворяющие условию

output = MapReduce(RECORDREADER, MAP, REDUCE)

selected_values = list(output)
print(selected_values)

[{'id': 1, 'name': 'John', 'age': 25}, {'id': 2, 'name': 'Alice', 'age': 25}]

Со вложенными кортежами

In [281]:
from typing import NamedTuple

class Record(NamedTuple):
    id: int
    name: str
    age: int

def RECORDREADER():
    for record in db_data:
        yield (record.id, record)  # Каждая запись представляется парой (id, record)

def MAP(_, record):
    if record.age == 25:  # Проверяем значение атрибута 'name'
        yield record, record  # Возвращаем кортеж с ключом None и значением - именованным кортежем Record

db_data = [
    Record(id = 1, name = 'John', age = 25),
    Record(id = 2, name = 'Alice', age = 25),
    Record(id = 3, name = 'Bob', age = 35)
]

output = MapReduce(RECORDREADER, MAP, REDUCE)

selected_values = [tuple(record) for record in output]
selected_values

[(1, 'John', 25), (2, 'Alice', 25)]

### Projection (Проекция)

Проекция на множество атрибутов $S$.

**The Map Function:** Для каждого кортежа $t \in R$ создайте кортеж $t′$, исключая  из $t$ те значения, атрибуты которых не принадлежат  $S$. Верните пару $(t′, t′)$.

**The Reduce Function:** Для каждого ключа $t′$, созданного любой Map задачей, вы получаете одну или несколько пар $(t′, t′)$. Reduce функция преобразует $(t′, [t′, t′, . . . , t′])$ в $(t′, t′)$, так, что для ключа $t′$ возвращается одна пара  $(t′, t′)$.

In [282]:
# Пример данных, аналогичных записям в базе данных
db_data = [
    {'id': 1, 'name': 'John', 'age': 25},
    {'id': 2, 'name': 'Alice', 'age': 25},
    {'id': 3, 'name': 'Bob', 'age': 35}
]

def MAP(_, record):
    attributes_to_keep = ['id', 'name']  # Имена атрибутов, которые мы хотим оставить
    projected_record = tuple(record[attr] for attr in attributes_to_keep)
    yield (record['id'], projected_record)  # Используем id в качестве ключа

def REDUCE(key, records):
    yield records[0]  # Возвращаем первый кортеж из списка кортежей с одинаковым ключом

def RECORDREADER():
    for record in db_data:
        yield (record['id'], record)  # Каждая запись представляется парой (id, record)

output = MapReduce(RECORDREADER, MAP, REDUCE)

selected_values = list(output)
selected_values

[(1, 'John'), (2, 'Alice'), (3, 'Bob')]

In [290]:
from typing import NamedTuple

class Record(NamedTuple):
    id: int
    name: str
    age: int

db_data = [
    Record(id=1, name='John', age=25),
    Record(id=2, name='Alice', age=25),
    Record(id=3, name='Bob', age=35)
]

def RECORDREADER():
    for record in db_data:
        yield (record.id, record)  # Каждая запись представляется парой (None, record)

def MAP(_, record):
    projected_record = (record.id, record.age)  # Изменяем формат проецируемого кортежа
    yield (record.id, projected_record)  # Используем id в качестве ключа

def REDUCE(key, records):
    for _, projected_record in records:
        yield projected_record  # Возвращаем проекции из каждой группы

output = MapReduce(RECORDREADER, MAP, REDUCE)

selected_values = list(output)
selected_values

[25, 25, 35]

In [289]:
from typing import NamedTuple
from collections import defaultdict

# Определение именованного кортежа для представления записей в базе данных
class Record(NamedTuple):
    id: int
    name: str
    age: int

# Пример данных, аналогичных записям в базе данных
db_data = [
    Record(id=1, name='John', age=25),
    Record(id=2, name='Alice', age=25),
    Record(id=3, name='Bob', age=35)
]

def MAP(_, record):
    yield (record.id, record.name)  # Возвращаем id, name и age

def REDUCE(key, records):
    yield (key, records[0])  # Возвращаем первое значение для каждого ключа

def RECORDREADER():
    for record in db_data:
        yield record.id, record  # Возвращаем идентификатор и запись

output = MapReduce(RECORDREADER, MAP, REDUCE)

selected_values = list(output)
selected_values

[(1, 'John'), (2, 'Alice'), (3, 'Bob')]

### Union (Объединение)

**The Map Function:** Превратите каждый входной кортеж $t$ в пару ключ-значение $(t, t)$.

**The Reduce Function:** С каждым ключом $t$ будет ассоциировано одно или два значений. В обоих случаях создайте $(t, t)$ в качестве выходного значения.

In [285]:
def RECORDREADER():
    for record in table_R + table_S:
        yield (None, record)  # Превращаем каждую запись в пару (None, record)

def MAP(_, record):
    yield (record, record)  # Превращаем каждую запись в пару ключ-значение (t, t)

def REDUCE(key, values):
    for value in set(values):
        yield (value)

table_R = [
    (1, 'John'),
    (2, 'Alice'),
    (5, 'Bob')
]

table_S = [
    (1, 'John'),
    (4, 'Los Angeles'),
    (6, 'Chicago')
]

# Выполнение операции MapReduce
output = MapReduce(RECORDREADER, MAP, REDUCE)

result = list(output)

result

[(1, 'John'), (2, 'Alice'), (5, 'Bob'), (4, 'Los Angeles'), (6, 'Chicago')]

In [286]:
# Пример данных для таблиц R и S
table_R = [
    (1, 'John'),
    (2, 'Alice'),
    (5, 'Bob')
]

table_S = [
    (1, 'John'),
    (4, 'Los Angeles'),
    (6, 'Chicago')
]

def RECORDREADER():
    for record in table_R + table_S:
        yield (None, record)  # Каждая запись представляется парой (None, record)

def MAP(_, record):
    yield (record, record)  # Просто возвращаем каждую запись как пару ключ-значение

def REDUCE(key, values):
    unique_values = set()  # Создаем множество для хранения уникальных значений
    for value in values:
        # Если значение уже есть в множестве, пропускаем его
        if value[1] in unique_values:
            continue
        unique_values.add(value[1])  # Добавляем значение в множество
        yield value  # Возвращаем уникальное значение

output = MapReduce(RECORDREADER, MAP, REDUCE)

result = list(output)

result

[(1, 'John'), (2, 'Alice'), (5, 'Bob'), (4, 'Los Angeles'), (6, 'Chicago')]

Со вложенными классами

In [287]:
from typing import NamedTuple

class Record(NamedTuple):
    id: int
    name: str
    age: int

def RECORDREADER():
    for record in table_R + table_S:
        yield (None, record)

def MAP(_, record):
    yield (record, record)

def REDUCE(key, values):
    for value in set(values):
        yield (value)

table_R = [
    Record(id=1, name='John', age=20),
    Record(id=2, name='Alice', age=25),
    Record(id=3, name='Bob', age=30)
]

table_S = [
    Record(id=4, name='Charlie', age=22),
    Record(id=5, name='David', age=27),
    Record(id=6, name='Emma', age=32)
]

output = MapReduce(RECORDREADER, MAP, REDUCE)
result = list(output)

# Преобразование результатов к нужному формату
result = [tuple(record) for record in result]

# Вывод результата
result

[(1, 'John', 20),
 (2, 'Alice', 25),
 (3, 'Bob', 30),
 (4, 'Charlie', 22),
 (5, 'David', 27),
 (6, 'Emma', 32)]

### Intersection (Пересечение)

**The Map Function:** Превратите каждый кортеж $t$ в пары ключ-значение $(t, t)$.

**The Reduce Function:** Если для ключа $t$ есть список из двух элементов $[t, t]$ $-$ создайте пару $(t, t)$. Иначе, ничего не создавайте.

In [288]:
def RECORDREADER():
    for record in table_R + table_S:
        yield (None, record)  # Каждая запись представляется парой (None, record)

def MAP(_, record):
    # Отправляем каждый кортеж в виде пары ключ-значение, где сам кортеж выступает и ключом, и значением
    yield (record[1:], record)

def REDUCE(key, values):
    # Проверяем, есть ли две записи с совпадающими атрибутами, кроме идентификатора
    if len(values) == 2 and values[0][1:] == values[1][1:]:
        # Если такие записи существуют, отправляем одну из них в качестве результата
        yield (values[0])

table_R = [
    (1, 'John'),
    (2, 'Alice'),
    (3, 'Bob')
]

table_S = [
    (12, 'Alice'),
    (3, 'Bob'),
    (4, 'Charlie')
]

output = MapReduce(RECORDREADER, MAP, REDUCE)

result = list(output)

result

[(2, 'Alice'), (3, 'Bob')]

Со вложенными кортежами

In [294]:
from typing import NamedTuple

class Record(NamedTuple):
    id: int
    name: str
    age: int

def RECORDREADER():
    for record in table_R + table_S:
        yield (None, Record(id=record[0], name=record[1], age=record[2]))  # Каждая запись представляется парой (None, Record)

def MAP(_, record):
    yield ((record.name, record.age), record)

def REDUCE(key, values):
    if len(values) == 2 and values[0][1:] == values[1][1:]:
        yield (values[0][1:])

table_R = [
    Record(id=1, name='John', age=25),
    Record(id=2, name='Alice', age=30),
    Record(id=3, name='Bob', age=35)
]

table_S = [
    Record(id=12, name='Alice', age=10),
    Record(id=3, name='Bob', age=35),
    Record(id=4, name='Charlie', age=40)
]

output = MapReduce(RECORDREADER, MAP, REDUCE)

result = list(output)

result

[('Bob', 35)]

### Difference (Разница)

**The Map Function:** Для кортежа $t \in R$, создайте пару $(t, R)$, и для кортежа $t \in S$, создайте пару $(t, S)$. Задумка заключается в том, чтобы значение пары было именем отношения $R$ or $S$, которому принадлежит кортеж (а лучше, единичный бит, по которому можно два отношения различить $R$ or $S$), а не весь набор атрибутов отношения.

**The Reduce Function:** Для каждого ключа $t$, если соответствующее значение является списком $[R]$, создайте пару $(t, t)$. В иных случаях не предпринимайте действий.

In [215]:
# Функция Map
def MAP(_, record):
    # Создаем пару (t, R) для кортежей из R и пару (t, S) для кортежей из S
    if record[1] == 'R':
        yield (record[0], 'R')
    elif record[1] == 'S':
        yield (record[0], 'S')

# Функция Reduce
def REDUCE(key, values):
    # Если значение соответствует только одному отношению, создаем пару (t, t)
    if len(values) == 1:
        yield (key)

# Функция RECORDREADER
def RECORDREADER():
    # Создаем пару (None, (record, 'R')) для каждой записи из таблицы R
    for record in table_R:
        yield (None, (record, 'R'))

    # Создаем пару (None, (record, 'S')) для каждой записи из таблицы S
    for record in table_S:
        yield (None, (record, 'S'))

# Пример данных для таблиц R и S
table_R = [
    (1, 'John'),
    (2, 'Alice'),
    (3, 'Bob')
]

table_S = [
    (2, 'Alice'),
    (3, 'Bob'),
    (4, 'Charlie')
]

# Выполняем операцию MapReduce
output = MapReduce(RECORDREADER, MAP, REDUCE)

# Получаем результат операции разницы
result = list(output)

# Выводим результат
result

[(1, 'John'), (4, 'Charlie')]

Со вложенными кортежами

In [216]:
from typing import NamedTuple

class Record(NamedTuple):
    id: int
    name: str

def MAP(_, record):
    # Создаем пару (name, R) для кортежей из R и пару (name, S) для кортежей из S
    if record[1] == 'R':
        yield (record[0].name, 'R')
    elif record[1] == 'S':
        yield (record[0].name, 'S')

def REDUCE(key, values):
    # Если значение соответствует только одному отношению, создаем пару (name, name)
    if len(values) == 1:
        yield (key)

def RECORDREADER():
    # Создаем пару (None, (record, 'R')) для каждой записи из таблицы R
    for record in table_R:
        yield (None, (record, 'R'))

    # Создаем пару (None, (record, 'S')) для каждой записи из таблицы S
    for record in table_S:
        yield (None, (record, 'S'))

# Пример данных для таблиц R и S
table_R = [
    Record(id=1, name='John'),
    Record(id=2, name='Alice'),
    Record(id=3, name='Bob')
]

table_S = [
    Record(id=12, name='Alice'),
    Record(id=3, name='Bob'),
    Record(id=4, name='Charlie')
]

# Выполняем операцию MapReduce
output = MapReduce(RECORDREADER, MAP, REDUCE)

# Получаем результат операции разницы
result = list(output)

# Выводим результат
print(result)

['John', 'Charlie']

### Natural Join

**The Map Function:** Для каждого кортежа $(a, b)$ отношения $R$, создайте пару $(b,(R, a))$. Для каждого кортежа $(b, c)$ отношения $S$, создайте пару $(b,(S, c))$.

**The Reduce Function:** Каждый ключ $b$ будет асоциирован со списком пар, которые принимают форму либо $(R, a)$, либо $(S, c)$. Создайте все пары, одни, состоящие из  первого компонента $R$, а другие, из первого компонента $S$, то есть $(R, a)$ и $(S, c)$. На выходе вы получаете последовательность пар ключ-значение из списков ключей и значений. Ключ не нужен. Каждое значение, это тройка $(a, b, c)$ такая, что $(R, a)$ и $(S, c)$ это принадлежат входному списку значений.

In [293]:
def MAP(_, record):
    record_id = record['id']
    if 'name' in record:
        yield (record_id, ('R', record))  # Отправка пары ключ-значение с именем таблицы 'R'
    elif 'city' in record:
        yield (record_id, ('S', record))  # Отправка пары ключ-значение с именем таблицы 'S'

def REDUCE(key, values):
    records_R = [record for table, record in values if table == 'R']  # Получение записей из таблицы R
    records_S = [record for table, record in values if table == 'S']  # Получение записей из таблицы S
    for record_R in records_R:
        for record_S in records_S:
            yield (record_R | record_S)  # Отправка объединенных записей как естественное объединение

table_R = [
    {'id': 1, 'name': 'John', 'age': 30},
    {'id': 2, 'name': 'Alice', 'age': 25},
    {'id': 3, 'name': 'Bob', 'age': 35}
]

table_S = [
    {'id': 1, 'city': 'New York'},
    {'id': 2, 'city': 'Los Angeles'},
    {'id': 4, 'city': 'Chicago'}
]

combined_data = table_R + table_S

output = MapReduce(lambda: [(None, record) for record in combined_data], MAP, REDUCE)

result = list(output)

result

[{'id': 1, 'name': 'John', 'age': 30, 'city': 'New York'},
 {'id': 2, 'name': 'Alice', 'age': 25, 'city': 'Los Angeles'}]

In [292]:
def MAP(_, record):
    record_id = record[0]  # Извлечение идентификатора из кортежа записи
    if len(record) == 3:  # Проверка, является ли запись из таблицы R
        yield (record_id, ('R', record))  # Отправка пары ключ-значение с именем таблицы 'R'
    elif len(record) == 2:  # Проверка, является ли запись из таблицы S
        yield (record_id, ('S', record))  # Отправка пары ключ-значение с именем таблицы 'S'

def REDUCE(key, values):
    records_R = [record for table, record in values if table == 'R']  # Получение записей из таблицы R
    records_S = [record for table, record in values if table == 'S']  # Получение записей из таблицы S
    for record_R in records_R:
        for record_S in records_S:
            yield (record_R + record_S[1:])  # Отправка объединенных записей как естественное объединение

def RECORDREADER():
    # Передача записей из таблицы R
    for record in table_R:
        yield (None, record)

    # Передача записей из таблицы S
    for record in table_S:
        yield (None, record)

table_R = [
    (1, 'John', 30),
    (2, 'Alice', 25),
    (3, 'Bob', 35)
]

table_S = [
    (1, 'New York'),
    (2, 'Los Angeles'),
    (4, 'Chicago')
]

output = MapReduce(RECORDREADER, MAP, REDUCE)

result = list(output)

result

[(1, 'John', 30, 'New York'), (2, 'Alice', 25, 'Los Angeles')]

Со вложенными кортежами

In [291]:
from typing import NamedTuple

class RecordR(NamedTuple):
    id: int
    name: str
    age: int

class RecordS(NamedTuple):
    id: int
    city: str

def MAP(_, record):
    record_id = record[0]  # Извлечение идентификатора из кортежа записи
    if len(record) == 3:  # Проверка, является ли запись из таблицы R
        yield (record_id, ('R', record))  # Отправка пары ключ-значение с именем таблицы 'R'
    elif len(record) == 2:  # Проверка, является ли запись из таблицы S
        yield (record_id, ('S', record))  # Отправка пары ключ-значение с именем таблицы 'S'

def REDUCE(key, values):
    records_R = [record for table, record in values if table == 'R']  # Получение записей из таблицы R
    records_S = [record for table, record in values if table == 'S']  # Получение записей из таблицы S
    for record_R in records_R:
        for record_S in records_S:
            yield (record_R + record_S[1:])  # Отправка объединенных записей как естественное объединение

def RECORDREADER():
    # Передача записей из таблицы R
    for record in table_R:
        yield (None, record)

    # Передача записей из таблицы S
    for record in table_S:
        yield (None, record)

table_R = [
    RecordR(id=1, name='John', age=30),
    RecordR(id=2, name='Alice', age=25),
    RecordR(id=3, name='Bob', age=35)
]

table_S = [
    RecordS(id=1, city='New York'),
    RecordS(id=2, city='Los Angeles'),
    RecordS(id=4, city='Chicago')
]

output = MapReduce(RECORDREADER, MAP, REDUCE)
result = list(output)

result

[(1, 'John', 30, 'New York'), (2, 'Alice', 25, 'Los Angeles')]

### Grouping and Aggregation (Группировка и аггрегация)

**The Map Function:** Для каждого кортежа $(a, b, c$) создайте пару $(a, b)$.

**The Reduce Function:** Ключ представляет ту или иную группу. Примение аггрегирующую операцию $\theta$ к списку значений $[b1, b2, . . . , bn]$ ассоциированных с ключом $a$. Возвращайте в выходной поток $(a, x)$, где $x$ результат применения  $\theta$ к списку. Например, если $\theta$ это $SUM$, тогда $x = b1 + b2 + · · · + bn$, а если $\theta$ is $MAX$, тогда $x$ это максимальное из значений $b1, b2, . . . , bn$.

In [220]:
# Функция Map
def MAP(record):
    # Создаем пару (a, b) для каждого кортежа (a, b, c)
    a, b, _ = record
    yield (a, b)

# Функция Reduce
def REDUCE(key, values):
    # Извлекаем числовые значения из кортежей
    numeric_values = [value for value in values if isinstance(value, int)]
    # Применяем операцию суммирования к числовым значениям
    result = sum(numeric_values)
    # Возвращаем пару (a, x), где x - результат агрегации
    yield (key, result)

# Функция RECORDREADER
def RECORDREADER():
    # Перебираем все записи из примера данных
    for record in data:
        yield (record,)

# Пример данных для операции
data = [
    (1, 10, 20),
    (2, 15, 25),
    (1, 5, 30),
    (2, 20, 35)
]

# Выполняем операцию MapReduce
output = MapReduce(RECORDREADER, MAP, REDUCE)

# Получаем результат операции группировки и агрегации
result = list(output)

# Выводим результат
print(result)

[(1, 15), (2, 35)]

In [223]:
from typing import NamedTuple

# Определение именованного кортежа для представления записей в базе данных
class DataRecord(NamedTuple):
    a: int
    b: int
    c: int

# Пример данных для операции
data = [
    DataRecord(a=1, b=10, c=20),
    DataRecord(a=2, b=15, c=25),
    DataRecord(a=1, b=5, c=30),
    DataRecord(a=2, b=20, c=35)
]

# Функция Map
def MAP(record):
    # Создаем пару (a, b) для каждого экземпляра класса DataRecord
    yield (record[0].a, record[0].b)

# Функция Reduce
def REDUCE(key, values):
    # Извлекаем числовые значения из values
    numeric_values = [value for value in values if isinstance(value, int)]
    # Применяем операцию суммирования к числовым значениям
    result = sum(numeric_values)
    # Возвращаем пару (a, x), где x - результат агрегации
    yield (key, result)

# Функция RECORDREADER
def RECORDREADER():
    # Перебираем все записи из примера данных
    for record in data:
        yield (record,)

# Функция MapReduce
def MapReduce(record_reader, mapper, reducer):
    intermediate = {}
    for record in record_reader():
        for mapped_key, mapped_value in mapper(record):
            intermediate.setdefault(mapped_key, []).append(mapped_value)
    for key, values in intermediate.items():
        for reduced in reducer(key, values):
            yield reduced

# Выполняем операцию MapReduce
output = MapReduce(RECORDREADER, MAP, REDUCE)

# Получаем результат операции группировки и агрегации
result = list(output)

# Выводим результат
print(result)

[(1, 15), (2, 35)]

### Matrix-Vector multiplication

Случай, когда вектор не помещается в памяти Map задачи

## Matrix multiplication (Перемножение матриц)

Если у нас есть матрица $M$ с элементами $m_{ij}$ в строке $i$ и столбце $j$, и матрица $N$ с элементами $n_{jk}$ в строке $j$ и столбце $k$, тогда их произведение $P = MN$ есть матрица $P$ с элементами $p_{ik}$ в строке $i$ и столбце $k$, где

$$p_{ik} =\sum_{j} m_{ij}n_{jk}$$

Необходимым требованием является одинаковое количество столбцов в $M$ и строк в $N$, чтобы операция суммирования по  $j$ была осмысленной. Мы можем размышлять о матрице, как об отношении с тремя атрибутами: номер строки, номер столбца, само значение. Таким образом матрица $M$ предстваляется как отношение $ M(I, J, V )$, с кортежами $(i, j, m_{ij})$, и, аналогично, матрица $N$ представляется как отношение $N(J, K, W)$, с кортежами $(j, k, n_{jk})$. Так как большие матрицы как правило разреженные (большинство значений равно 0), и так как мы можем нулевыми значениями пренебречь (не хранить), такое реляционное представление достаточно эффективно для больших матриц. Однако, возможно, что координаты $i$, $j$, и $k$ неявно закодированы в смещение позиции элемента относительно начала файла, вместо явного хранения. Тогда, функция Map (или Reader) должна быть разработана таким образом, чтобы реконструировать компоненты $I$, $J$, и $K$ кортежей из смещения.

Произведение $MN$ это фактически join, за которым следуют группировка по ключу и аггрегация. Таким образом join отношений $M(I, J, V )$ и $N(J, K, W)$, имеющих общим только атрибут $J$, создаст кортежи $(i, j, k, v, w)$ из каждого кортежа $(i, j, v) \in M$ и кортежа $(j, k, w) \in N$. Такой 5 компонентный кортеж представляет пару элементов матрицы $(m_{ij} , n_{jk})$. Что нам хотелось бы получить на самом деле, это произведение этих элементов, то есть, 4 компонентный кортеж$(i, j, k, v \times w)$, так как он представляет произведение $m_{ij}n_{jk}$. Мы представляем отношение как результат одной MapReduce операции, в которой мы можем произвести группировку и аггрегацию, с $I$ и $K$  атрибутами, по которым идёт группировка, и суммой  $V \times W$.

In [224]:
# MapReduce model
def flatten(nested_iterable):
  for iterable in nested_iterable:
    for element in iterable:
      yield element

def groupbykey(iterable):
  t = {}
  for (k2, v2) in iterable:
    t[k2] = t.get(k2, []) + [v2]
  return t.items()

def MapReduce(RECORDREADER, MAP, REDUCE):
  return flatten(map(lambda x: REDUCE(*x), groupbykey(flatten(map(lambda x: MAP(*x), RECORDREADER())))))

Реализуйте перемножение матриц с использованием модельного кода MapReduce для одной машины в случае, когда одна матрица хранится в памяти, а другая генерируется RECORDREADER-ом.

In [251]:
import numpy as np
I = 2
J = 3
K = 4*10
small_mat = np.random.rand(I,J)
big_mat = np.random.rand(J,K)

def RECORDREADER():
  for j in range(J):
    for k in range(K):
      yield ((j, k), big_mat[j, k])

def MAP(k1, v1):
  (j, k) = k1
  w = v1
  for i in range(I):
    yield ((i, k), small_mat[i, j] * w)

def REDUCE(key, values):
  (i, k) = key
  yield ((i, k), sum(values))

# CHECK THE SOLUTION
reference_solution = np.matmul(small_mat, big_mat)
solution = MapReduce(RECORDREADER, MAP, REDUCE)

def asmatrix(reduce_output):
  reduce_output = list(reduce_output)
  I = max(i for ((i,k), vw) in reduce_output)+1
  K = max(k for ((i,k), vw) in reduce_output)+1
  mat = np.empty(shape=(I,K))
  for ((i,k), vw) in reduce_output:
    mat[i,k] = vw
  return mat

np.allclose(reference_solution, asmatrix(solution))

True

In [230]:
reduce_output = list(MapReduce(RECORDREADER, MAP, REDUCE))
max(i for ((i,k), vw) in reduce_output)

1

Реализуйте перемножение матриц  с использованием модельного кода MapReduce для одной машины в случае, когда обе матрицы генерируются в RECORDREADER. Например, сначала одна, а потом другая.

In [255]:
I = 2
J = 3
K = 4 * 10
small_mat = np.random.rand(I, J)
big_mat = np.random.rand(J, K)

def RECORDREADER():
  for i in range(I):
    for j in range(J):
      yield ((0, i, j), small_mat[i, j])

  for j in range(J):
    for k in range(K):
      yield ((1, j, k), big_mat[j, k])

def MAP(k1, v1):
  (matrix_index, row_index, col_index) = k1
  if matrix_index == 0:
    yield (col_index, (matrix_index, row_index, v1))
  else:
    yield (row_index, (matrix_index, col_index, v1))


def REDUCE(key, values):
  first_matrix = [el for el in values if el[0] == 0]
  second_matrix = [el for el in values if el[0] == 1]

  for first_el in first_matrix:
    for second_el in second_matrix:
      (_, first_index, first_value) = first_el
      (_, second_index, second_value) = second_el
      yield ((first_index, second_index), first_value * second_value)


def MAP_IDENTITY(*args):
  yield args

def REDUCE_AGREGATE(key, values):
  yield (key, sum(values))

def GET_RECORDREADER(iterable):
  def func():
    for el in iterable:
      yield el
  return func

# CHECK THE SOLUTION
reference_solution = np.matmul(small_mat, big_mat)
partial_solution = MapReduce(RECORDREADER, MAP, REDUCE)
solution = MapReduce(GET_RECORDREADER(partial_solution), MAP_IDENTITY, REDUCE_AGREGATE)

def asmatrix(reduce_output):
  reduce_output = list(reduce_output)
  I = max(i for ((i, k), vw) in reduce_output) + 1
  K = max(k for ((i, k), vw) in reduce_output) + 1
  mat = np.empty(shape=(I, K))
  for ((i, k), vw) in reduce_output:
    mat[i, k] = vw
  return mat

np.allclose(reference_solution, asmatrix(solution))

True

Реализуйте перемножение матриц с использованием модельного кода MapReduce Distributed, когда каждая матрица генерируется в своём RECORDREADER.

In [252]:
import numpy as np

# Определение размерностей матриц
I = 2  # Количество строк в результате умножения матриц
J = 3  # Количество столбцов в первой матрице и количество строк во второй
K = 4 * 10  # Количество столбцов в результате умножения матриц (увеличенное)

# Генерация случайных матриц
small_mat = np.random.rand(I, J)  # Генерация случайной матрицы размером IxJ
big_mat = np.random.rand(J, K)  # Генерация случайной матрицы размером JxK

def RECORDREADER():
    for i in range(I):
        for j in range(J):
            yield ((0, i, j), small_mat[i, j])  # Вывод индексов и значения элемента из маленькой матрицы

    for j in range(J):
        for k in range(K):
            yield ((1, j, k), big_mat[j, k])  # Вывод индексов и значения элемента из большой матрицы

def MAP(k1, v1):
    (matrix_index, row_index, col_index) = k1  # Получение индексов
    if matrix_index == 0:
        yield (col_index, (matrix_index, row_index, v1))  # Вывод индекса, индекса строки и значения элемента маленькой матрицы
    else:
        yield (row_index, (matrix_index, col_index, v1))  # Вывод индекса, индекса столбца и значения элемента большой матрицы

def REDUCE(key, values):
    first_matrix = [el for el in values if el[0] == 0]  # Выделение элементов первой матрицы
    second_matrix = [el for el in values if el[0] == 1]  # Выделение элементов второй матрицы
    for first_el in first_matrix:
        for second_el in second_matrix:
            (_, first_index, first_value) = first_el  # Извлечение индекса и значения элемента первой матрицы
            (_, second_index, second_value) = second_el  # Извлечение индекса и значения элемента второй матрицы
            yield ((first_index, second_index), first_value * second_value)  # Вывод индекса и произведения значений элементов

def MAP_IDENTITY(*args):
    yield args

def REDUCE_AGREGATE(key, values):
    yield (key, sum(values))

def GET_RECORDREADER(iterable):
    def func():
        for el in iterable:
            yield el
    return func

reference_solution = np.matmul(small_mat, big_mat)

partial_solution = MapReduce(RECORDREADER, MAP, REDUCE)
solution = MapReduce(GET_RECORDREADER(partial_solution), MAP_IDENTITY, REDUCE_AGREGATE)

def asmatrix(reduce_output):
    reduce_output = list(reduce_output)
    I = max(i for ((i, k), vw) in reduce_output) + 1
    K = max(k for ((i, k), vw) in reduce_output) + 1
    mat = np.empty(shape=(I, K))
    for ((i, k), vw) in reduce_output:
        mat[i, k] = vw
    return mat

np.allclose(reference_solution, asmatrix(solution))

True